body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: linear-gradient(#f2f7ff, #e6f3ff);
}

th, td {
    direction: rtl;
    text-align: right;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 25px;
    background: #ffffff;
    border-bottom: 2px solid #d0d0d0;
}

.follow-label {
    margin-right: 15px;
    font-weight: bold;
    color: #444;
    font-size: 16px; /* לא חובה, פשוט נראה טוב */
}

.social-btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 12px;
    border: none;
    background: #d6ecff;
    cursor: pointer;
    font-size: 16px;
}

.social-btn:hover {
    background: #85c7ff;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    color: #555;
    padding: 12px 25px;
    border-radius: 14px;
    transition: 0.3s;
}

nav a:hover {
    background: #d6ecff;
}

.social-icons a {
    margin-right: 15px;
    font-size: 20px;
    color: #d6ecff;
}

section {
    margin: 50px auto;
    width: 65%;
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

section h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

section img, section video {
    margin-top: 25px;
    width: 70%;
    border-radius: 18px;
}

#contact form {
    width: 35%;
    margin: auto;
    text-align: right;
}

#contact input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 22px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    background: #aed4ff;
    cursor: pointer;
}

button:hover {
    background: #85c7ff;
}

footer {
    margin-top: 40px;
    padding: 25px;
    background: #cfe6ff;
}